@page "/"
@using InfoGaceta.Data
@inject ScrapperService Scrapit
@inject IJSRuntime IJ

<h1>Titulares de La Gaceta</h1>

@if (LstData == null)
{
    <p><em>Cargando...</em></p>
}
else
{
    <div class="text-left bg-blue-100" id="BuscadorTitulos">
        <input class="border-4 w-1/3 rounded m-6 p-6 h-8
                   border-blue-300" @bind-value="SearchText"
               @bind-value:event="oninput" placeholder="Buscar por título" />
    </div>
    <table id="tabla-titulos">
        <thead>
        </thead>
        <tbody>
            @foreach (var data in LstData)
            {
                if (data.Contains(SearchText))
                {
                    <tr>
                        <td><b>@contador)</b> @data.ToString()</td>
                    </tr>
                    contador++;
                }
            }
            @{
                if (contador == 1)
                {
                    <tr>No hay títulos que coincidan con la búsqueda.</tr>
                }
                contador = 1;
            }
        </tbody>
    </table>
}


@code
{
    int contador = 1;
    public List<string> LstData;
    private string SearchText = "";

    protected override async Task OnInitializedAsync()
    {
        LstData = await Scrapit.DoScrapping();
    }
}
